<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>

    <style>
        body{
          font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/user/login" method="POST">
            <label>Email</label>
            <input type="text" placeholder="Jhon123@gmail.com" name="email">
            <label>Password</label>
            <input type="text" placeholder="Jhon123" name="password">

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>